# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=5685e69b6f158a2d17ce7a7575dfaa2f
###< symfony/framework-bundle ###

ROOTER_ENV_TYPE=symfony
DEVENV_HTTP_PORT=8341
DEVENV_HTTPS_PORT=8411
DEVENV_DB_PORT=3520
DEVENV_MAIL_SMTP_PORT=10146
DEVENV_MAIL_UI_PORT=21168
DEVENV_REDIS_PORT=6638
DEVENV_AMQP_PORT=5962
DEVENV_AMQP_MANAGEMENT_PORT=18855
DEVENV_OPENSEARCH_PORT=9234
DEVENV_OPENSEARCH_TCP_PORT=9343
